<!DOCTYPE html>
<html lang="en">

<head>
   

    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%  static 'style.css' %}">
    <title>English</title>
</head>

<body>
    <div class="heder">

        {% include 'base/header.html' %}
        {% block header %}
        {% endblock %}
    </div>

    <div class="content">
        {% for content in contents %}
        {% if content.is_delete == False %}

        <div class="card" style="width: 18rem; height: 24rem;">
            <img class="card-img-top" src="{{ content.image }}" alt="Card image cap" width= 12rem height="200px">
            <div class="card-body">
                <h5 class="card-title">{{content.Vocabulary}}</h5>
                <p class="card-text">{{content.content| truncatechars:50}}
                   </p>
                <a href="^deltail/^{{content.id}}$" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        {% endif %}
        {% endfor %}
    </div>

    <div class="footer">
        {% include 'base/footer.html' %}
        {% block footer %}
        {% endblock %}
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</html>